.about {
  color: #0f0e0e !important;
  font-family: "Poppins", sans-serif;
}

.about-lists{
  color: #080707 ;
  font-family: "Poppins", sans-serif;
  font-size: 14px;

}

.about-para {
  color: #0a0a0a !important;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.about-section img {
  width: auto;
  max-width: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
  margin: 0 auto;
}

.about-section img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .about-section img {
    width: 80%;
    margin-top: 20px;
  }
}
