.wantto {
  color: maroon !important;
  font-family: "Poppins", sans-serif;
}
.want-bg {
 background-color: #F6E5D5;
  padding: 40px 0;
  padding: 70px 20px;
}
.want-para {
  color: gray;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
