
 .whychoose {
    color: #353030 !important;
    font-family: 'Poppins', sans-serif;
}
.why-section {
  position: relative;
  margin-top: -180px;
  z-index: 20;
}


.whysub {
  color: #555555 !important; 
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.text-center {
  text-align: center;
  margin-top: 30px;
}

.cards-services {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background-color:#403939 !important;
  transition: transform 0.3s ease;
  z-index: 1;
  color: #fff;
}
.cardscar{
  margin-top: -280px;
}

.cards-services::before,
.cards-services::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #aca89b;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 0;
}

.cards-services::before {
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}

.cards-services::after {
  bottom: 100%;
  right: 100%;
  transform: translate(100%, 100%);
}

.cards-services:hover::before,
.cards-services:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.cards-services:hover {
  transform: translateY(-8px);
}
.titil-content{
  margin-top: -120px;
}

.cards-services * {
  position: relative;
  z-index: 2;
}

.card-head {
  color: white !important;
  font-family: "Poppins", sans-serif;
}

.card-para {
  color: #e6f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.service-icon {
  width: 100px;
  height: 100px;
}

/* Wrapper */

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  perspective: 1000px;

  margin-top: 50px;
}

/* Cards */

/* .cards-services {
  position: fixed;

  border-radius: 20px;

  background: #3c3838 !important;

  color: white;

  padding: 30px 20px;

  min-height: 320px;

  overflow: hidden;

  transition: all 0.5s ease;

  box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.15);

  animation: float 4s ease-in-out infinite;
} */

/* Left Card */

.col:nth-child(1) .cards-services {
  transform: scale(0.92) rotateY(10deg);

  animation-delay: 0s;
}

/* Center Card */

.col:nth-child(2) .cards-services {
  transform: scale(1.05);

  z-index: 5;

  animation-delay: 1s;
}

/* Right Card */

.col:nth-child(3) .cards-services {
  transform: scale(0.92) rotateY(-10deg);

  animation-delay: 2s;
}

/* Floating Animation */

@keyframes float {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Hover */

.cards-services:hover {
  transform: translateY(-20px) scale(1.05);

  box-shadow:
    0 25px 50px rgba(0, 0, 0, 0.25);
}

/* Icon Animation */

.service-icon {
  width: 90px;
  height: 90px;

  transition: all 0.5s ease;
}

.cards-services:hover .service-icon {
  transform: rotate(10deg) scale(1.1);
}


